body {
    background: rgb(74, 7, 80);
    background: linear-gradient(180deg, rgba(74, 7, 80, 1) 0%, rgba(34, 3, 37, 1) 0%, rgba(34, 3, 37, 1) 17%, rgba(0, 0, 0, 1) 100%);
    margin: auto;
}

main {
    padding: 100px;
    text-align: center;
  }
  
main h1 {
    margin-bottom: 30px;
    color: rgb(199, 7, 216);
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.registro1 {
    text-align: center;
    color: white;
  }
  
.registro1,
  p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
  }
  
.footer,
  p {
    color: rgb(216, 24, 200);
    text-align: center;
  }
  
.rodape,
  img {
    margin: auto;
  }
  
.input-reg {
    display: block;
    margin: 5px auto;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
  }

#botao-enviar {
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid purple;
}

#botao-enviar:hover{
  transform: scale(1.1);
  background-color: purple;
  color: white;
}

.registro1{
  padding: 20px;
  margin: 20px;
}

.registro1, h1{
  padding: 20px;
}

#idade{
  padding-right: 40px;
  padding-left: 40px;
}

#email{
  margin-bottom: 20px;
}